@model FirtsWebMVC.Models.HeThongPhanPhoi

@{
    ViewData["Title"] = "Create";
}

<div class="w3-row">
    <b>HeThongPhanPhoi/Create</b>
    <a class="w3-btn w3-round w3-border w3-teal w3-right" asp-action="Index">Back</a>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Tạo mới hệ thống phân phối</h2>
    </div>
    <form asp-action="Create" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="form-group">
                <label asp-for="MaHTTP" class="control-label"></label>
                <input asp-for="MaHTTP" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="MaHTTP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHTTP" class="control-label"></label>
                <input asp-for="TenHTTP" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="TenHTTP" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-margin-top">
            <input type="submit" value="Create" class="btn btn-primary w3-border w3-teal" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
