@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO WEBSITE WITH ME</h1>
    <p>Link facebook: <a href="https://www.facebook.com/huanchappie31">https://www.facebook.com/huanchappie31</a>.</p>
</div>
