<form asp-action="TinhLuong">
    <label>Lương cơ bản:</label>
    <input type="text" name="LCB" placeholder="lương cơ bản...">
    <label>Hệ số lương:</label>
    <input type="text" name="HS" placeholder="hệ số lương...">
    <label>Phụ cấp:</label>
    <input type="text" name="PC" placeholder="phụ cấp...">
    <input type="submit" value="Tính toán">
</form>
<h1>@ViewBag.tl</h1>