<form asp-action="TinhLuong">
    <label>Luong co ban:</label>
    <input type="text" name="LCB" placeholder="luong co ban">
    <label>He so luong:</label>
    <input type="text" name="HS" placeholder="he so luong">
    <label>Phu cap:</label>
    <input type="text" name="PC" placeholder="phu cap">
    <input type="submit" value="Tinh toan">
</form>
<h1>@ViewBag.tl</h1>