<form asp-action="GiaiPTBac2">
    <label>Nhập hệ số A:</label>
    <input type="text" name="hesoA" placeholder="nhập a...">
    <label>Nhập hệ số B:</label>
    <input type="text" name="hesoB" placeholder="nhập b...">
    <label>Nhập hệ số C:</label>
    <input type="text" name="hesoC" placeholder="nhập c...">
    <input type="submit" value="Done">
</form>
<h1>@ViewBag.gpt</h1>