<form asp-action="GiaiPTBac2">
    <label>Nhap he so A:</label>
    <input type="text" name="hesoA" placeholder="Nhap a...">
    <label>Nhap he so B:</label>
    <input type="text" name="hesoB" placeholder="Nhap b...">
    <label>Nhap he so C:</label>
    <input type="text" name="hesoC" placeholder="Nhap c...">
    <input type="submit" value="Done">
</form>
<h1>@ViewBag.gpt</h1>