<form asp-action="Action1">
    <label>Nhập ID:</label>
    <input type="text" name="EmployeeId">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <label>Nhập tuoi:</label>
    <input type="text" name="Age">
    <input type="submit" value="Send data">
</form>
<h1>@ViewBag.thongbao</h1>