<div class="w3-container w3-white">
    <h2>Sign in</h2>
</div>
<form asp-action="Action1">
    <p>
    <label>Nhập PersonID:</label>
    <input type="text" name="PersonId" class="w3-round-large w3-input w3-border w3-border-blue">
    </p>
    <p>
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName" class="w3-round-large w3-input w3-border w3-border-blue">
    </p>
    <p>
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address" class="w3-round-large w3-input w3-border w3-border-blue">
    </p>
    <input type="submit" value="Send data" class="w3-round-large w3-input w3-border w3-border-blue">
</form>
<h1>@ViewBag.infoPerson</h1>