@{
    ViewData["Title"] = "Action1";
}
<form asp-action="Action1">
    <label>Nhập PersonID:</label>
    <input type="text" name="PersonId">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Send data">
</form>
<h1>@ViewBag.infoPerson</h1>