@model FirtsWebMVC.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Person/Create</h1>
<hr/>
    <form asp-action="Upload" enctype="multipart/form-data">
        <div class="row form-control">
            <label class="col-sm-2">Import data from Excel:</label>
            <input type="file" name="file" class="col-sm-4">
            <input type="submit" value="Upload" class="btn btn-primary col-sm-1">
        </div>
    </form>

<hr/>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Create new Person</h2>
    </div>
    <form asp-action="Create" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="w3-col-l3">
                <label asp-for="PersonID" class="control-label"></label>
                <input asp-for="PersonID" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="PersonID" class="text danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="FullName" class="text danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="Address" class="text danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="Gender" class="text danger"></span>
            </div>
        </div>
        <div class="w3-margin-top">
            <input type="submit" value="Create" class="w3-btn w3-round w3-border w3-teal" /> |
            <a class="w3-btn w3-round w3-border w3-teal" asp-action="Index">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}