@model FirtsWebMVC.Models.DaiLy

@{
    ViewData["Title"] = "Edit";
}

<div class="w3-row">
    <b>Agency/Edit</b>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Agency Edit</h2>
    </div>
    <form asp-action="Edit" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="w3-col-l3">
                <label asp-for="TenDaiLy" class="control-label"></label>
                <input asp-for="TenDaiLy" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="TenDaiLy" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="NguoiDaiDien" class="control-label"></label>
                <input asp-for="NguoiDaiDien" class="w3-input w3-border w3-border-black w3-roundl" />
                <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="w3-input w3-border w3-border-black w3-round" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="MaHTPP" class="control-label"></label>
                <select asp-for="MaHTPP" class="w3-input w3-border w3-border-black w3-round" asp-items="ViewBag.MaHTPP"></select>
                <span asp-validation-for="MaHTPP" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-margin-top">
            <input type="submit" value="Save" class="btn btn-primary w3-teal" /> |
            <a asp-action="Index" class="btn btn-primary w3-teal">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
